# Dependencies
node_modules/
vendor/

# Hardhat/EVM Build Artifacts
artifacts/
cache/
typechain-types/

# Go Binaries/Builds
private-governance/collebfed-governance
*.exe
*.test

# Environment & OS files
.env
.DS_Store